@model BookingTour.Models.Tour

    @{
        ViewData["Title"] = "Edit";
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }

<h1>Edit</h1>

<h4>Tour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTour" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxQuantity" class="control-label"></label>
                <input asp-for="MaxQuantity" class="form-control" />
                <span asp-validation-for="MaxQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdType" class="control-label"></label>
                <select asp-for="IdType" class="form-control" asp-items="ViewBag.IdType"></select>
                <span asp-validation-for="IdType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTrans" class="control-label"></label>
                <select asp-for="IdTrans" class="form-control" asp-items="ViewBag.IdTrans"></select>
                <span asp-validation-for="IdTrans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHotel" class="control-label"></label>
                <select asp-for="IdHotel" class="form-control" asp-items="ViewBag.IdHotel"></select>
                <span asp-validation-for="IdHotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatus" class="control-label"></label>
                <input asp-for="ApprovalStatus" class="form-control" />
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
