@model BookingTour.Models.UserProfileViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




    <div class="col-xs-12 col-sm-3">
        <div class="card profile-card">
            <div class="profile-header">&nbsp;</div>
            <div class="profile-body">
                <div class="image-area">
                    <img src="@Url.Content("~/images/" + (Model.AvatarUrl ?? "default-avatar.jpg"))" class="tour-image" />
                </div>
                <div class="content-area">
                <h3>@Model.fullname</h3>
                <p>@Model.Email</p>
                    
                    
                </div>
            </div>  
            <div class="profile-footer">
              
            </div>
        </div>

        <div class="card card-about-me">
            <div class="header">
                <h2>Thông tin của tôi</h2>
            </div>
            <div class="body">
                <ul>
                    <li>
                        <div class="title">
                            <i class="material-icons">library_books</i>
                            Học vấn
                        </div>
                        <div class="content">
                          
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <i class="material-icons">location_on</i> Địa chỉ
                 
                        </div>
                        <div class="content">
                
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <i class="material-icons">edit</i> Chỉnh sửa
                            
                        </div>
                        <div class="content">
                            <span class="label bg-red">UI Design</span>
                            <span class="label bg-teal">JavaScript</span>
                            <span class="label bg-blue">PHP</span>
                            <span class="label bg-amber">Node.js</span>
                        </div>
                    </li>
                    <li>
                        @* <div class="title"> 
                            <i class="material-icons">notes</i>
                     
                        </div> *@
                        <div class="content">
                      
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


<div class="col-xs-12 col-sm-9">
    <div class="card">
        <div class="body">
            <div>
                <ul class="nav nav-tabs" role="tablist">
               
                    <li role="presentation" class=""><a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false">Cập nhật thông tin</a></li>
               
                </ul>

             
                    <div role="tabpanel" class="tab-pane fade" id="profile_settings">
                              
                        <form asp-action="Editdi" asp-controller="AspNetUsers" asp-area="Admin" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label for="UserName" class="col-sm-2 control-label">Tên người dùng</label>
                            <div class="col-sm-10">
                                <div class="form-line focused">
                                    <input type="text" class="form-control" asp-for="UserName" placeholder="Username"  required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fullname" class="col-sm-2 control-label">Họ và tên</label>
                            <div class="col-sm-10">
                                <div class="form-line focused">
                                    <input type="text" class="form-control" asp-for="fullname" placeholder="Full Name"  required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <div class="form-line focused">
                                    <input type="email" class="form-control" asp-for="Email" placeholder="Email" value="@Model.Email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber" class="col-sm-2 control-label">Số điện thoại</label>
                            <div class="col-sm-10">
                                <div class="form-line focused">
                                    <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address" class="col-sm-2 control-label">Địa chỉ</label>
                            <div class="col-sm-10">
                                <div class="form-line">
                                    <input type="text" class="form-control" asp-for="Address" placeholder="Address" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Age" class="col-sm-2 control-label">Tuổi</label>
                            <div class="col-sm-10">
                                <div class="form-line">
                                    <input type="number" class="form-control" name="age" asp-for="Age" placeholder="Age" >
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                @* <input type="checkbox" id="terms_condition_check" class="chk-col-red filled-in" required>
                                <label for="terms_condition_check"> <a href="#">s</a></label> *@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">Cập nhật</button>
                            </div>
                        </div>
                    </form>

                    
                </div>
                   @*  <div role="tabpanel" class="tab-pane fade active in" id="change_password_settings">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="OldPassword" class="col-sm-3 control-label">Mật khẩu cũ</label>
                                <div class="col-sm-9">
                                    <div class="form-line">
                                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" placeholder="Mật khẩu cũ" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="NewPassword" class="col-sm-3 control-label">Mật khẩu mới</label>
                                <div class="col-sm-9">
                                    <div class="form-line">
                                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Mật khẩu mới" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="NewPasswordConfirm" class="col-sm-3 control-label">Xác nhận mật khẩu mới</label>
                                <div class="col-sm-9">
                                    <div class="form-line">
                                        <input type="password" class="form-control" id="NewPasswordConfirm" name="NewPasswordConfirm" placeholder="Xác nhận mật khẩu mới" required="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-danger">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

