body {
    /*background-image: url('background.jpg');
    background-image: url('../../images/img_3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;*/
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Độ trong suốt */
    border-radius: 1rem; /* Bo tròn góc */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Đổ bóng cho thẻ */
    margin-top: -40px; /* Đẩy phần thẻ lên trên */
}

h1 {
    color: #333; /* Màu tiêu đề */
}
