

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/adminlayout/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/adminlayout/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Adminlayout/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="~/adminlayout/css/style.min.css" rel="stylesheet" />
    <link href="~/adminlayout/css/style.css" rel="stylesheet" />
    <link href="~/Adminlayout/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="~/Adminlayout/plugins/morrisjs/morris.css" rel="stylesheet" />
    <link href="~/Adminlayout/css/themes/all-themes.css" rel="stylesheet" />
    <link href="~/adminlayout/css/chat.css" rel="stylesheet" />
</head>
<!-- Popup thông báo -->
@{
    var successMessage = TempData["SuccessMessage"];
    var errorMessage = TempData["ErrorMessage"];
}

@if (successMessage != null)
{
    <div id="popup-success" style="position: fixed; top: 10px; right: 20px; background-color: #d4edda; border: 1px solid #c3e6cb; color: #155724; padding: 15px; border-radius: 5px; z-index: 9999; width: 300px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); display: block;">
        <span class="closebtn" onclick="closePopup('popup-success')" style="font-size: 20px; color: #aaa; position: absolute; top: 10px; right: 10px; cursor: pointer;">&times;</span>
        @successMessage
    </div>
}

@if (errorMessage != null)
{
    <div id="popup-error" style="position: fixed; top: 10px; right: 20px; background-color: #f8d7da; border: 1px solid #f5c6cb; color: #721c24; padding: 15px; border-radius: 5px; z-index: 9999; width: 300px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); display: block;">
        <span class="closebtn" onclick="closePopup('popup-error')" style="font-size: 20px; color: #aaa; position: absolute; top: 10px; right: 10px; cursor: pointer;">&times;</span>
        @errorMessage
    </div>
}

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars" style="display: block;"></a>
                <a class="navbar-brand" href="index.html"> Admin - ViuViu</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
               
            </div>
        </div>  
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Adminlayout/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
                    <div class="email"></div>
                    <div class="btn-group user-helper-dropdown">
                       @*  <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i> *@
                        <ul class="dropdown-menu pull-right">

                         @*    <partial name="_LoginPartial" /> *@
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header"></li>
                    <li>
                        <a asp-controller="Profile" asp-action="Index">
                            <i class="material-icons">person</i>
                            <span>Trang cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="AspNetUsers" asp-action="Index">
                            <i class="material-icons">group</i>
                            <span>Quản lý tài khoản</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Tours" asp-action="Index">
                            <i class="material-icons">layers</i>
                            <span>Quản lý tour</span>
                        </a>

                    </li>
                    <li>
                        <a asp-area="ADMIN" asp-controller="BookingStatus" asp-action="Index">
                            <i class="material-icons">shopping_cart</i>
                            <span>Quản lý đặt tour</span>
                        </a>

                    </li>
                    <li>
                        <a asp-area="ADMIN" asp-controller="Category" asp-action="Index">
                            <i class="material-icons">widgets</i>
                            <span>Quản lý danh mục</span>
                        </a>

                    </li>
                    <li>
                        <a asp-area="ADMIN" asp-controller="Promotions" asp-action="Index">
                            <i class="material-icons">perm_media</i>
                            <span>Quản lý Khuyến mãi</span>
                        </a>

                    </li>
                    <li>
                        <a asp-area="ADMIN" asp-controller="BookingStatus" asp-action="BookingStatistics">
                            <i class="material-icons">pie_chart</i>
                            <span>Thống kê</span>
                        </a>

                    </li>
                    <li>
                        <a asp-area="ADMIN" asp-controller="Blogs" asp-action="Index">
                            <i class="material-icons">perm_media</i>
                            <span>Quản lý Blog</span>
                        </a>

                    </li>
                    <li>
                        <a asp-area="ADMIN" asp-controller="HostManagement" asp-action="PendingRegistrations">
                            <i class="material-icons">trending_down</i>
                            <span>Quản lý nhà cung cấp</span>
                        </a>

                    </li>
                    <li>
                        <a asp-area="ADMIN" asp-controller="Chat" asp-action="Index">
                            <i class="material-icons">view_list</i>
                            <span>Chat</span>
                        </a>

                    </li>
                    <li>
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                         
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
                                <i class="material-icons" style="padding-left:0px">input</i>
                            Đăng xuất
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2023- 2024 <a href="javascript:void(0);">VIUVIU</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                    
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="~/Adminlayout/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Adminlayout/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/Adminlayout/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/Adminlayout/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Adminlayout/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/Adminlayout/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/Adminlayout/plugins/raphael/raphael.min.js"></script>
    <script src="~/Adminlayout/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/Adminlayout/plugins/chartjs/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/Adminlayout/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/Adminlayout/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/Adminlayout/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/Adminlayout/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/Adminlayout/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/Adminlayout/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom Js -->
    <script src="~/Adminlayout/js/admin.js"></script>
    <script src="~/Adminlayout/js/pages/index.js"></script>
   
    <!-- Demo Js -->
    <script src="~/Adminlayout/js/demo.js"></script>
    <script>
        function closePopup(popupId) {
            var popup = document.getElementById(popupId);
            popup.style.display = "none";
        }

        // Tự động đóng popup sau 3 giây
        window.onload = function () {
            if (document.getElementById('popup-success') !== null) {
                setTimeout(function () {
                    closePopup('popup-success');
                }, 3000);
            }
            if (document.getElementById('popup-error') !== null) {
                setTimeout(function () {
                    closePopup('popup-error');
                }, 3000);
            }
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script src="~/adminlayout/js/chat-realtime.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>

