@model BookingTour.Models.Promotion

@{
    ViewData["Title"] = "Create Promotion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tạo khuyến mãi</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
              <p>Tên</p>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
      <p>Mô tả</p>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <p>Ngày tạo</p>
                <input asp-for="StartDate" class="form-control" type="date" required />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
           <p>Ngày kết thúc</p>
                <input asp-for="EndDate" class="form-control" type="date" required />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
             <p>Gía trị giảm giá</p>
                <input asp-for="DiscountAmount" class="form-control" type="number" step="0.01" required />
                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
            <p>Đối tượng</p>
                <input asp-for="EligibilityCriteria" class="form-control" required />
                <span asp-validation-for="EligibilityCriteria" class="text-danger"></span>
            </div>

            <div class="form-group">
               <p>hành dộng</p>
                <input asp-for="Status" class="form-control" required />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div >
                <label asp-for="IdTour" >Chọn Tour</label>
                <select asp-for="IdTour" >
                   
                    @foreach (var tour in (SelectList)ViewData["IdTour"])
                    {
                        <option value="@tour.Value">@tour.Text</option>
                    }
                </select>
                <span asp-validation-for="IdTour" ></span>
            </div>

            <div >
                <label asp-for="IdHotel" >Chọn Khách Sạn</label>
                <select asp-for="IdHotel" >
               
                    @foreach (var hotel in (SelectList)ViewData["IdHotel"])
                    {
                        <option value="@hotel.Value">@hotel.Text</option>
                    }
                </select>
                <span asp-validation-for="IdHotel" ></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
